* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Cursor Regular";
  src:
    url("./assets/fonts/cursor-regular.woff2") format("woff2"),
    url("./assets/fonts/cursor-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #14120b;
  --primary-color: #edecec;
  --secondary-color: #1b1913;
  --muted: #b3b1af;
  --color-outline: #404040;
  --accent: #f54e00;
  --accent-hover: #f54e00bf;
  --size-xxs: 0.625rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-md: 1rem;
  --size-lg: 1.25rem;
  --size-xl: 1.625rem;
  --size-2xl: 2rem;

  --section-spacing: 5rem;

  --font-cursor: "Cursor Regular", system-ui, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font-family: var(--font-cursor);
  background: var(--background);
  color: var(--primary-color);
  position: relative;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.spacer-section {
  margin-top: var(--section-spacing);
}

header {
  display: flex;
  align-items: center;
  height: 52px;
  position: fixed;
  top: 0;
  inset-inline: 0;
  z-index: 1000;
  background-color: var(--background);
}

#logo svg {
  width: 100%;
  height: 24px;
  transition: fill 0.3s ease;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: var(--size-sm);
}

header ul li a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.1s ease-in-out;
}

header ul li a:hover {
  color: var(--muted);
}
header .nav-btns {
  display: flex;
  gap: 0.625rem;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: var(--size-sm);
  color: inherit;
  font-family: var(--font-cursor);
}

.btn-outline {
  padding: 0.3rem 0.65rem;
  border: 0.075rem solid var(--color-outline);
  border-radius: 3rem;
}

.btn-outline:hover {
  background-color: rgba(64, 64, 64, 0.25);
}

.btn-primary {
  padding: 0.25rem 0.75rem;
  background-color: var(--primary-color);
  border-radius: 2rem;
  color: var(--background);
}

.btn-primary:hover {
  background-color: rgba(237, 236, 236, 0.9);
}

.btn-lg {
  padding: 0.75rem 1.35rem;
  font-size: var(--size-md);
}

.hero-section {
  ---section-spacing: 10rem;
  padding-top: var(--section-spacing);
  max-width: 580px;
  max-height: 100%;
}

.hero-section h1 {
  font-size: var(--size-xl);
  font-weight: 500;
  margin-bottom: 1rem;
}

.hero-btn {
  margin-top: var(--size-lg);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.hero-btn span {
  font-size: var(--size-md);
}

.hero-image-container {
  --section-spacing: 4rem;
  margin-top: var(--section-spacing);
  width: 100%;
  background-color: red;
  height: 680px;
}

.hero-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trusted-section {
  width: 100%;
}

.trusted-section h2 {
  font-size: var(--size-sm);
  font-weight: 500;
  text-align: center;
}

.trusted-logos {
  margin-top: var(--size-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.25rem;
}

.trusted-logos div {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 38px;
}

.trusted-logos div img {
  height: 40px;
  object-fit: contain;
}

.feature {
  height: 680px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.feature-content {
  width: 50%;
  padding: 0 20px;
  font-weight: 500;
  color: var(--primary-color);
  font-size: 22px;
  font-family: var(--font-cursor);
  line-height: 1.15;
}

.feature-content h3 {
  margin-bottom: 0.15rem;
  font-size: inherit;
}

.feature-content p {
  font-size: var(--size-md);
  line-height: 1.5;
  color: var(--muted);
  font-size: inherit;
}

.feature-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 20px;
  border-radius: var(--size-2xl);
  overflow: hidden;
}

.feature-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-link {
  color: var(--accent);
  font-weight: 500;
  font-size: var(--size-md);
}

.btn-link:hover {
  color: var(--accent-hover);
}

.feature-btn {
  margin-top: var(--size-lg);
  display: flex;
  align-items: center;
  gap: 0.45rem;
}

.testimonial-section {
  --section-spacing: 7rem;
}

.testimonial-section h2 {
  font-size: var(--size-2xl);
  font-weight: 500;
  text-align: center;
}

.testimonial-container {
  --section-spacing: 3rem;
  margin-top: var(--section-spacing);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.65rem;
}

.testimonial-card {
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 0.25rem;
  width: 300px;
  height: 280px;
  max-width: 430px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-card blockquote p {
  font-size: var(--size-md);
  line-height: 1.5;
}

.testimonial-card-footer {
  display: flex;
  align-items: center;
}

.testimonial-card-footer img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 0.75rem;
  border-radius: 5px;
}

.testimonial-card-footer-meta {
  font-size: var(--size-sm);
  font-weight: 500;
}

.testimonial-card-footer-meta p {
  font-size: var(--size-sm);
}

.testimonial-card-footer-meta p:nth-child(2) {
  color: var(--muted);
}
